html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* All Pages */
header {
    display: flex;
    align-items: center;
    padding: 0px;
    margin: 0px;
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    background: linear-gradient(to right, #0a5db1, #6dbcdb);
    border: 1px solid gray;
}

img.logo {
    height: 90px;
    width: 90px;
    margin-right: auto;
    margin-left: 8px;
    margin-bottom: 0px;
    padding: 0px;
    z-index: -1;
    position: relative;
    animation-name: spinAcross;
    animation-duration: 4s; 
    animation-iteration-count: 2;
    animation-direction: alternate;
}

@keyframes spinAcross {
    0% {transform: translateX(0) rotate(0deg);}
    100% { transform: translateX(1650%) rotate(360deg);}
}

nav {
    padding: 15px;
    margin-right: 30px;
    border: 1px solid rgb(107, 104, 104);
    border-radius: 20px;
    text-align: center;
    
}

header nav a {
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.5s;
}

header nav a:link {
    color: rgb(37, 91, 192);
}

header nav a:visited {
    color: black;
}

header nav a:hover {
    background-color: white;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid gray;
}

footer {
    color: white;
    background-color: rgb(66, 64, 64);
    padding: 1px;
    
}

.footer-content {
    width: 75%;
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

footer a{
    color: white;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline, solid;
}

/* Home Page */
body.home-page {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("images/bckgrnd.jpg");
    background-repeat: no-repeat;
    background-position: left center;
}

.title-p1 {
    color: rgb(1, 34, 68);
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    letter-spacing: 5px;
    margin-right: auto;
}

.home {
    width: 80%;
    max-width: 1200px;
    background-color: rgb(235, 235, 235);
    margin: auto;
    padding: 10px 40px;
    border: 1px solid gray;
    min-height: 100vh;
}

.intro-home {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid rgb(94, 94, 100);
    padding-bottom: 20px;
}

.home-title {
    font-size: 40px;
    text-align: center;
    color: rgb(56, 95, 133); 
    font-weight: bold;
    border-bottom: 3px solid rgb(94, 94, 100);
}

.home-intro-top {
    width: 65%;
}

img.island-chain {
    width: 37.2%;
    height: auto;
    border: 1px solid black;
    border-radius: 4px;
}

.home-intro-top p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
}

.home-intro-top h1, h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: rgb(56, 95, 133); 
    font-weight: bold;
}

.last-para-home {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
    border: 2px solid rgb(56, 95, 133);
    border-radius: 30px;
    box-shadow: 15px 10px 15px rgb(56, 95, 133);
    padding: 2px;
}

.mySlides {
    text-align: center;
}

.text-overlay {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: rgb(56, 95, 133); 
    font-size: 20px;
}

/* About Page */
.about-page {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("images/bckgrnd.jpg");
    background-repeat: no-repeat;
    background-position: left center;
}

.title-p2 {
    color: rgb(1, 34, 68);
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-right: auto;
}

.about {
    width: 80%;
    max-width: 1200px;
    background-color: rgb(235, 235, 235);
    margin: auto;
    padding: 10px 40px;
    border: 1px solid gray;
    min-height: 100vh;
}

.intro-about {
    width: 75%;
    background-image: url("images/end-beach.JPG");
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;    
    color: black; 
    font-size: 20px;
    line-height: 25px;
    margin: 0 auto;
    margin-bottom: 100px;
    border: 1px solid rgb(1, 34, 68);
    border-radius: 20px;
}

@media screen and (max-width: 1100px) {
    .intro-about {
        width: 80%;
        line-height: normal;
        font-size: 16px;
        margin-bottom: 10px;
    }

}

.Information {
    width: 80%;
    margin: 0 auto;
}

.Information h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(1, 34, 68);
}

.people_culture_flex {
    display: flex;
    gap: 40px;
    justify-content: center;
    text-align: center;
    padding-right: 20px;
    padding-bottom: 120px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.people_culture {
    display: flex;
    flex-direction: column;
}

.people_culture ul {
        list-style-type: none;
        padding: 0px;
        margin: 0px;
}

.PCimg {
    width: 500px; 
    height: 250px;
    display: block;
    border-radius: 10px;
}

@media screen and (max-width: 1100px) {
    .people_culture_flex {
        flex-direction: column;
        text-align: center;
        gap: 0;
        padding-right: 0px;
        padding-bottom: 60px;
    }
    .PCimg {
        width: 100%;
        max-width: 50%;
        height: auto;
        margin: 0 auto;
    }
}

.history_flex {
    display: flex;
    gap: 90px;
    justify-content: center;
    text-align: center;
    padding-left: 10px;
    padding-bottom: 150px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.history_flex aside {
    text-align: center;
    padding-left: 0px;
}

.history {
    display: flex;
    flex-direction: column;
}

.history_img {
    width: 500px;
    height: 250px;
    display: block;
    border-radius: 10px;
}


@media screen and (max-width: 1200px) {
    .history_flex {
        flex-direction: column;
        text-align: center;
        padding-left: 0px;
        padding-bottom: 60px;
        gap: 0px;
    }
    .history_img {
        width: 100%;
        max-width: 50%;
        height: auto;
        margin: 0 auto;
    }
}

.environment_flex {
    display: flex;
    flex-direction: row-reverse;
    gap: 70px;
    justify-content: center;
    text-align: center;
    padding-right: 20px;
    padding-bottom: 150px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.environment {
    display: flex;
    flex-direction: column;
}

.envi_img {
    width: 500px;
    height: 280px;
    display: block;
    border-radius: 10px;
}

@media screen and (max-width: 1100px) {
    .environment_flex {
        flex-direction: column;
        text-align: center;
        gap: 0px;
        padding-bottom: 60px;
        padding-right: 0px;
    }
    .envi_img {
        width: 50%;
        height: 50%;
        margin: 0 auto;
    }
}

.climate_weather_flex {
    display: flex;
    flex-direction: row-reverse;
    gap: 70px;
    justify-content: center;
    text-align: center;
    padding-left: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.climate_weather {
    display: flex;
    flex-direction: column;
}

.clim_weath_img {
    width: 500px;
    height: 250px;
    display: block;
    border-radius: 10px;
}
@media screen and (max-width: 1100px) {
    .climate_weather_flex {
        flex-direction: column;
        text-align: center;
        padding-left: 0px;
        padding-bottom: 60px;
        gap: 0px;
    }
    .clim_weath_img {
        width: 50%;
        height: 50%;
        margin: 0 auto;
    }
}

/* Attractions Page */
.attractions-page {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("images/bckgrnd.jpg");
    background-repeat: no-repeat;
    background-position: left center;
}

.title-p3 {
    color: rgb(1, 34, 68);
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-right: auto;
}

.attractions {
    width: 80%;
    max-width: 1200px;
    background-color: rgb(235, 235, 235);
    margin: auto;
    padding: 10px 40px;
    border: 1px solid gray;
    min-height: 100vh;
}

.intro-attractions {
    background-image: url("images/micro-beach.jpg");
    background-position: center bottom;
    align-items: center;
    margin-bottom: 20px;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 40px;
}

.intro-attractions p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: white;
    font-size: 20px;
    line-height: 30px;
    padding: 20px;
    text-align: center;
}

@media screen and (max-width: 1100px) {
    .intro-attractions {
        width: 85%;
        padding: 0px;    
    }
    .intro-attractions p{
        font-size: 15px;
        line-height: normal;
    }
}

.attractions_video {
    text-align: center;
    color: rgb(56, 95, 133);
    margin-bottom: 80px;
}
.attractions_video iframe{
    width: 65%;
    height: 450px;
    border: 1px solid black;
    border-radius: 20px;
}

@media  screen and (max-width: 1100px) {
    .attractions_video iframe {
        width: 75%;
        height: 300px;
    }
}

.attract_table  {
    border-collapse: collapse;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    table-layout: fixed;
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 40px;
}

.attract_table tbody{
    border: 2px solid black;
    text-align: center;
}

.attract_table td {
    border: 2px solid black;
}

.attract_images {
    width: 100%;
    height: auto;
    transition: transform 0.7s ease;
}

.attract_images:hover {
    transform: scale(1.3);
    box-shadow: 0 0 40px black;
}

.attract_table caption {
    font-size: 40px;
    color: rgb(1, 34, 68);
}

.attract_table figure p {
    font-size: 20px;
    color: rgb(56, 95, 133);
}


/*Explore More Page */
.explore-page {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("images/bckgrnd.jpg");
    background-repeat: no-repeat;
    background-position: left center;
}

.title-p4 {
    color: rgb(1, 34, 68);
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    letter-spacing: 5px;
    margin-right: auto;
}

.explore {
    width: 80%;
    max-width: 1200px;
    background-color: rgb(235, 235, 235);
    margin: auto;
    padding: 10px 40px;
    border: 1px solid gray;
    min-height: 100vh;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(1, 34, 68);
    text-align: center;
}

.other_nmi {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 20px;
}

.emi_flex {
    display: flex;
    flex-direction: column;
    text-align: center;  
    padding-bottom: 40px;
    color: #0a5db1;
    font-size: 25px;
    transition: transform 0.7s ease;

}

.emi_flex:hover {
    transform: scale(1.2);
    border-radius: 20px;
    box-shadow: 0 0 40px white;
}

.ex_more_images {
    width: 500px;
    height: auto;
    border-radius: 20px;
}


.saipan_table {
    border-collapse: collapse;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 40px;
    background: linear-gradient(to right, #3378bd, #6dbcdb);
}

.saipan_table caption {
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: rgb(56, 95, 133); 
    font-weight: bold;
}

.saipan_table tbody, td, th {
    border: 1px solid black;
    padding: 10px;
}

.tinian_table {
    border-collapse: collapse;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 40px;
    background: linear-gradient(to right, #1a8528, #5eda78);
}

.tinian_table caption {
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: rgb(56, 95, 133); 
    font-weight: bold;
}

.rota_table {
    border-collapse: collapse;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 40px;
    background: linear-gradient(to right, #0c3d97, #8095f3);
}

.rota_table caption {
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: rgb(56, 95, 133); 
    font-weight: bold;
}

.explore_images {
    width: 200px;
    height: auto;
    transition: transform 0.7s ease;
}

.explore_images:hover {
    transform: scale(1.9);
}

/* Contact Page */
.contact-page {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("images/bckgrnd.jpg");
    background-repeat: no-repeat;
    background-position: left center;
}

.title-p5 {
    color: rgb(1, 34, 68);
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    letter-spacing: 5px;
    margin-right: auto;
}

.contact {
    width: 80%;
    max-width: 1200px;
    background-color: rgb(235, 235, 235);
    margin: auto;
    padding: 10px 40px;
    border: 1px solid gray;
    min-height: 100vh;
}
