html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* All Pages */
header {
    display: flex;
    align-items: center;
    padding: 0px;
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    background: linear-gradient(to right, #4da5ff, #a6e8ff);
    border: 1px solid gray;
    border-radius: 0 0 20px 20px;
}

img.logo {
    height: 120px;
    width: 120px;
    margin-right: auto;
    margin-left: 10px;
}

.title-h1 {
    color: aliceblue;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    text-align: center;
    letter-spacing: 10px;
}

nav {
    padding: 20px;
    margin-right: 15px;
    border: 1px solid gray;
    border-radius: 20px;
    text-align: center;
    margin-left: auto;
}

header nav a {
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.5s;
}

header nav a:link {
    color: rgb(37, 91, 192);
}

header nav a:visited {
    color: black;
}

header nav a:hover {
    background-color: white;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid gray;
}

footer {
    color: white;
    background-color: rgb(66, 64, 64);
    padding: 1px 0;
}

.footer-content {
    width: 75%;
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

footer a{
    color: white;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline, solid;
}

/* Home Page */
body.home-page {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("images/bckgrnd.jpg");
    background-repeat: no-repeat;
    background-position: left center;
}

.home-main {
    width: 75%;
    max-width: 1200px;
    background-color: rgb(223, 241, 235);
    margin: auto;
    padding: 10px 40px;
    border: 1px solid gray;
    min-height: 80.5vh;
}

.intro-home {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.intro-top {
    width: 65%;
}

img.island-chain {
    width: 30%;
    height: auto;
    border: 1px solid black;
    border-radius: 4px;
}

.intro-top p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
}

.intro-top h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

/* About Page */

.about-page {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("");
    background-repeat: no-repeat;
    background-position: left center;
}

.about-main {
    width: 75%;
    max-width: 1200px;
    background-color: rgb(223, 241, 235);
    margin: auto;
    padding: 10px 40px;
    border: 1px solid gray;
    min-height: 80.5vh;
}


/* Attractions Page */
.attractions-page {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("");
    background-repeat: no-repeat;
    background-position: left center;
}

.attractions-main {
    width: 75%;
    max-width: 1200px;
    background-color: rgb(223, 241, 235);
    margin: auto;
    padding: 10px 40px;
    border: 1px solid gray;
    min-height: 80.5vh;
}


/*Explore More Page */
.explore-page {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("");
    background-repeat: no-repeat;
    background-position: left center;
}

.explore-main {
    width: 75%;
    max-width: 1200px;
    background-color: rgb(223, 241, 235);
    margin: auto;
    padding: 10px 40px;
    border: 1px solid gray;
    min-height: 80.5vh;
}

/* Culture Page */
.culture-page {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("");
    background-repeat: no-repeat;
    background-position: left center;
}

.contact-main {
    width: 75%;
    max-width: 1200px;
    background-color: rgb(223, 241, 235);
    margin: auto;
    padding: 10px 40px;
    border: 1px solid gray;
    min-height: 80.5vh;
}
